<div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-3 col-md-6 footer-about">
          <a href="{{ page.find('/home').url }}" class="logo d-flex align-items-center">
            <img src="{{ theme_url }}/assets/img/logo.webp" alt="BookDe Logo - Hotel Website Design Services" >
          </a>
        </div>

        <div class="col-lg-3 col-md-3 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="{{ page.find('/services/service-details').url }}">Custom Hotel Website</a></li>
            <li><a href="{{ page.find('/services/service-details-1').url }}">Online Booking Support</a></li>
            <li><a href="{{ page.find('/services/service-details-2').url }}">Booking Optimization Solutions</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="{{ page.find('/home').url }}">Home</a></li>
            <li><a href="{{ page.find('/home').url }}#about">About Us</a></li>
            <li><a href="{{ page.find('/home').url }}#services">Services</a></li>
            <li><a href="{{ page.find('/contact').url }}">Contact</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-12 footer-newsletter">
          <a href="{{ page.find('/home').url }}" class="logo d-flex align-items-center">
            <span class="sitename">ALLXONE</span>
          </a>
          <div class="footer-contact pt-3">
            <p>F1, QCoop Building, 150 Nguyen Xi, Ward 26</p>
            <p>Binh Thanh District, Ho Chi Minh City, Vietnam</p>
            <p class="mt-3"><strong>Phone:</strong> <span>+84 523 734 193</span></p>
            <p><strong>Email:</strong> <span>info@bookde.vn</span></p>
          </div>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">BookDe.vn</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        Designed by <a href="#">AllXone</a>
      </div>
    </div>

      <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <script src="{{ theme_url }}/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="{{ theme_url }}/assets/vendor/php-email-form/validate.js"></script>
  <script src="{{ theme_url }}/assets/vendor/aos/aos.js"></script>
  <script src="{{ theme_url }}/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="{{ theme_url }}/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="{{ theme_url }}/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="{{ theme_url }}/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="{{ theme_url }}/assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="{{ theme_url }}/assets/js/main.js"></script>