{# <!DOCTYPE html>
<html lang="vi">
    {% include 'partials/header_vi.html.twig' %}

<body class="index-page">

   {% include 'partials/navigation_vi.html.twig' %}

  <main class="main">
{% set home = grav.flex.getObject('home', 'home') %}

  <section id="hero">
      <h1>{{ home.header.hero_title }}</h1>
      <p>{{ home.header.hero_description }}</p>
      <img src="{{ home.header.hero_image.path }}" alt="Hero Image">
  </section>
    {% for module in page.collection() %}
      {{module.content|raw}}
    {% endfor %}
  <section id="team" class="team section light-background">

    <div class="container section-title" data-aos="fade-up">
      <h2>Who Uses Our Services?</h2>
    </div>
    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="team-member">
            <div class="member-img position-relative">
              <img src="{{ theme_url }}/assets/img/about/hotel.webp" class="img-fluid" alt="Image hotel">
              <h4 class="text-overlay">HOTELS</h4> 
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="team-member">
            <div class="member-img position-relative">
              <img src="{{ theme_url }}/assets/img/about/spa.webp" class="img-fluid" alt="Image spa" style="height: fit-content;">
              <h4 class="text-overlay">SPA</h4> 
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="team-member">
            <div class="member-img position-relative">
              <img src="{{ theme_url }}/assets/img/about/tours.webp" class="img-fluid" alt="Image tours">
              <h4 class="text-overlay">TOURS</h4> 
            </div>
          </div>
        </div>

      </div>

    </div>

  </section>
  
  <section>
    <div class="container-fluid custom-section">
      <div class="container">
          <div class="row align-items-center flex-md-row flex-column-reverse">
            <div class="col-md-6 text-center">
              <img src="{{ theme_url }}/assets/img/services/demo.webp" alt="Hotel Launch" class="img-fluid w-100 rounded">
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5 text-center text-md-start">
                <h2 id="launch">Ready to launch your hotel to the web?</h2>
                <a href="#" class="demo-btn">Try our free demo!</a>
            </div>
          </div>
      </div>
    </div>
  </section>

  <div class="text-center mt-4" style="margin-bottom: 40px; margin-top: 5px;" >
    <a href="{{ page.find('/contact').url }}#services" class="btn btn-contact">Contact Us Now</a>
  </div>

  </main>

  <footer id="footer" class="footer dark-background">
           {% include 'partials/footer_en.html.twig' %}
</footer>

</body>

</html> #}
{# {% extends 'partials/base.html.twig' %} #}

{% block content %}
    <h1>{{ page.header.custom_title }}</h1>
    <p>{{ page.header.custom_description }}</p>

    {% if page.header.show_banner %}
        <div class="banner">
            <img src="{{ page.media['banner.jpg'].url }}" alt="Banner">
        </div>
    {% else %}
        <p>Banner không được hiển thị.</p>
    {% endif %}
{% endblock %}