<!DOCTYPE html>
<html lang="vi">

<head>
        {% include 'partials/header_vi.html.twig' %}
</head>

<body class="service-details-page">

      {% include 'partials/navigation_vi.html.twig' %}

  <main class="main">

    <!-- Page Title -->
    <div class="page-title accent-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Chi tiết dịch vụ</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{{ page.find('/home').url }}">Trang chủ</a></li>
            <li class="current">Chi tiết dịch vụ</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Service Details Section -->
    <section id="service-details" class="service-details section">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="services-list">
              <a href="{{ page.find('/services/service-details').url }}">Trang web khách sạn tùy chỉnh</a>
              <a href="{{ page.find('/services/service-details-1').url }}">Hỗ trợ đặt phòng trực tuyến</a>
              <a href="{{ page.find('/services/service-details-2').url }}" class="active">Giải pháp tối ưu hóa đặt phòng</a>
            </div>

            <h4>Tối đa hóa số lượng đặt phòng của bạn với các công cụ tối ưu hóa của chúng tôi.</h4>
            <p>Gia tăng số lượng đặt phòng và tối ưu doanh thu với các công cụ mạnh mẽ của chúng tôi. Từ tối ưu giao diện đặt phòng, cải thiện trải nghiệm người dùng đến tích hợp chiến lược giá thông minh, chúng tôi giúp bạn thu hút nhiều khách hàng hơn và tối đa hóa hiệu suất kinh doanh.</p>
          </div>

          <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">
            <img src="{{ theme_url }}/assets/img/services/ser3.webp" alt="Ảnh tối ưu quy trình đặt phòng" class="img-fluid services-img">
            <h3 style="display: flex; justify-content: center; text-align: center; margin: 10px;">Giải pháp tối ưu hóa đặt phòng</h3>
            <p>
              Biến đổi khả năng đặt phòng của khách sạn bạn với dịch vụ hỗ trợ đặt phòng trực tuyến toàn diện của chúng tôi.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> <span>Dễ dàng quản lý đặt phòng.</span></li>
              <li><i class="bi bi-check-circle"></i> <span>Giao diện thân thiện với người dùng, đảm bảo trải nghiệm liền mạch cho cả nhân viên và khách hàng.</span></li>
              <li><i class="bi bi-check-circle"></i> <span>Hệ thống backend tiên tiến của chúng tôi cung cấp cập nhật và phân tích theo thời gian thực để tối ưu hóa hoạt động, giảm lỗi và nâng cao sự hài lòng của khách hàng.</span></li>
            </ul>
            <p>
              Giải pháp này không chỉ nâng cao nhận diện thương hiệu mà còn tạo điều kiện cho cách đặt phòng trực tiếp, loại bỏ sự phụ thuộc vào các nền tảng bên thứ ba.
            </p>
            <p>
              Với thiết kế trực quan và chức năng tối ưu, thu hút nhiều khách hơn và tăng tỷ lệ lấp đầy. Đầu tư vào tương lai của khách sạn của bạn bằng cách thiết lập một sự hiện diện trực tuyến mạnh mẽ, phù hợp với đối tượng mục tiêu của bạn.
            </p>
          </div>

        </div>

      </div>

    </section><!-- /Service Details Section -->

  </main>

  <footer id="footer" class="footer dark-background">
         {% include 'partials/footer_vi.html.twig' %}

  </footer>

</body>

</html>