<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'partials/header_en.html.twig' %}
      <link href="{{ theme_url }}/assets/css/howitwork.css" rel="stylesheet">
</head>

<body class="blog-page">

  {# Menu #}
   {% include 'partials/navigation_en.html.twig' %}

  <main class="main">

    <!-- Page Title -->
    <div class="page-title accent-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">How It Works</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{{ page.find('/home').url }}">Home</a></li>
            <li class="current">How It Works</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <div class="container my-5">
      <h2 class="text-center fw-bold">Simple Steps to Launch Your Hotel Website</h2>
    
      <div class="timeline">
          <!-- Step 1 -->
          <div class="timeline-step">
              <div class="step-content">
                  <h4 style="color: #379777;"><b>Develop a Custom Website</b></h4>
                  <p>Create a custom website with your own domain to attract direct bookings.</p>
                  <img src="{{ theme_url }}/assets/img/services/work1.webp" alt="Hotel website development" >
              </div>
          </div>
  
          <!-- Step 2 -->
          <div class="timeline-step">
              <div class="step-content">
                <h4 style="color: #379777;"><b>Optimize Direct Bookings</b></h4>
                  <p>Optimize your website to increase direct bookings and reduce commission fees.</p>
                  <img src="{{ theme_url }}/assets/img/services/work2.webp" alt="Hotel booking optimization" >
              </div>
          </div>
  
          <!-- Step 3 -->
          <div class="timeline-step">
              <div class="step-content">
                <h4 style="color: #379777;"><b>Maximize Online Visibility & Revenue</b></h4>
                  <p>Enhance visibility and maximize bookings with intelligent analytics.</p>
                  <img src="{{ theme_url }}/assets/img/services/work3.webp" alt="Increase revenue using services">
              </div>
          </div>
      </div>
  
  </div>

  </main>

  <footer id="footer" class="footer dark-background">
           {% include 'partials/footer_en.html.twig' %}
</footer>

</body>

</html>