<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'partials/header_en.html.twig' %}
</head>

<body class="service-details-page">
  {# Menu #}
   {% include 'partials/navigation_en.html.twig' %}

  <main class="main">

    <div class="page-title accent-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Service Details</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{{ page.find('/home').url }}">Home</a></li>
            <li class="current">Service Details</li>
          </ol>
        </nav>
      </div>
    </div>

    <section id="service-details" class="service-details section">
      <div class="container">
        <div class="row gy-4">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="services-list">
              <a href="{{ page.find('/services/service-details').url }}" class="active">Custom Hotel Website</a>
              <a href="{{ page.find('/services/service-details-1').url }}">Online Booking Support</a>
              <a href="{{ page.find('/services/service-details-2').url }}">Booking Optimization Solutions</a>
            </div>

            <h4>Create a unique online identity with a custom website.</h4>
            <p>Make your brand stand out with a unique custom website design optimized for user experience. A professional, SEO-friendly, and mobile-responsive interface helps you gain visibility, attract customers, and enhance brand credibility.</p>
          </div>

          <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">
            <img src="{{ theme_url }}/assets/img/services/ser1.webp" alt="Hotel Website Design" class="img-fluid services-img">
            <h3 style="display: flex; justify-content: center; text-align: center; margin: 10px;">Custom Hotel Website</h3>
            <p>
              Our service provides hotels the opportunity to build their own website using a unique domain name.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> <span>Ensure a personalized touch reflecting their unique identity.</span></li>
              <li><i class="bi bi-check-circle"></i> <span>Attract more direct bookings and build stronger customer relationships.</span></li>
              <li><i class="bi bi-check-circle"></i> <span>Stand out in the competitive hospitality industry with a fully branded website.</span></li>
            </ul>
            <p>
              This solution not only enhances brand recognition but also facilitates direct booking, reducing dependency on third-party platforms.
            </p>
            <p>
              With an intuitive design and optimized functionality, it attracts more guests and increases occupancy rates. Invest in the future of your hotel by establishing a strong online presence tailored to your target audience.
            </p>
          </div>

        </div>
      </div>
    </section>

  </main>

  <footer id="footer" class="footer dark-background">
           {% include 'partials/footer_en.html.twig' %}
</footer>

</body>

</html>