<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'partials/header_en.html.twig' %}
</head>

<body class="service-details-page">

  {# Menu #}
   {% include 'partials/navigation_en.html.twig' %}

  <main class="main">

    <!-- Page Title -->
    <div class="page-title accent-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Service Details</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{{ page.find('/home').url }}">Home</a></li>
            <li class="current">Service Details</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Service Details Section -->
    <section id="service-details" class="service-details section">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="services-list">
              <a href="{{ page.find('/service-details').url }}">Custom Hotel Website</a>
              <a href="{{ page.find('/service-details-1').url }}" class="active">Online Booking Support</a>
              <a href="{{ page.find('/service-details-2').url }}">Booking Optimization Solutions</a>
            </div>

            <h4>Simplify your hotel's online booking process with ease.</h4>
            <p>Transform your hotel's online booking process into a quick and convenient experience like never before. With a user-friendly interface, simple operations, and optimal integration, customers can book rooms in just a few steps, helping you increase conversion rates and enhance user experience.</p>
          </div>

          <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">
            <img src="{{ theme_url }}/assets/img/services/ser2.webp" alt="Online booking image" class="img-fluid services-img">
            <h3 style="display: flex; justify-content: center; text-align: center; margin: 10px;">Online Booking Support</h3>
            <p>
              Transform your hotel's booking capability with our comprehensive online booking support service.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> <span>Easily manage bookings.</span></li>
              <li><i class="bi bi-check-circle"></i> <span>User-friendly interface ensuring a seamless experience for both staff and customers.</span></li>
              <li><i class="bi bi-check-circle"></i> <span>Our advanced backend system provides real-time updates and analytics to optimize operations, reduce errors, and enhance customer satisfaction.</span></li>
            </ul>
            <p>
              This solution not only increases brand recognition but also facilitates direct bookings, eliminating reliance on third-party platforms.
            </p>
            <p>
              With an intuitive design and optimized functionality, attract more guests and increase occupancy rates. Invest in the future of your hotel by establishing a strong online presence tailored to your target audience.
            </p>
          </div>

        </div>

      </div>

    </section><!-- /Service Details Section -->

  </main>

  <footer id="footer" class="footer dark-background">
          {% include 'partials/footer_en.html.twig' %}
</footer>

</body>

</html>